<div class="container">
  <div class="card-column">
    <div class="card">
      <%= image_tag 'default.jpg',class: "bd-placeholder-img", style: "height: 200px; width: 50px;"%>
    </div>
    <div class="card">
      <%= image_tag 'default.jpg',class: "card-img-top", style: "height: 200px;"%>
    </div>
  </div>
</div>