<%= form_with url: search_artists_path, method: :get, local: true do |form| %>
<div class="d-flex">
  <%= form.text_field :search, class: 'form-control', placeholder: "Search Artist" %>
  <%= form.submit '検索',class: "btn btn-outline-info", name: nil %>
</div>
<% end %>