<div class="container">
  <div class="row mt-5">
    <% @artists.each do |artist| %>
    <div class="col-lg-3 d-flex flex-column align-items-center">
      <%= render 'index', artist: artist %>
    </div>
    <% end %>
  </div>
</div>


