<table class="table table-sm table-borderless text-center">
<% unless artists == nil %>
  <% artists.each do |artist| %>
  <tr>
    <td scope="col" style="width: 30%">
      <% if artist.images.any? %>
        <% image = artist.images[1] %>
        <%= image_tag(image["url"], size: '50x50', class: 'rounded-circle')%>
      <% else %>
        <%= image_tag("default.jpg", size: '50x50', class: 'rounded-circle') %>
      <% end %>
    </td>
    <th class="align-middle" scope="col" style="width:30%">
      <%= link_to artist.name, artist_path(artist.id) %>
    </th>
    <td class="align-middle" scope="col" style="width: 30%">
      <%= render 'public/artist_favorites/artist_favorite_btn', artist: artist %>
    </td>
  </tr>
  <% end %>
<% end %>
</table>