<table class="table table-sm table-borderless text-center">
  <% users.each do |user| %>
  <tr class="border-bottom">
    <td scope="col" style="width: 33%">
      <%= image_tag user.get_profile_image(50,50), class: 'rounded-circle' %>
    </td>
    <th class="align-middle" scope="col" style="width:33%">
      <%= link_to user.name, user_path(user), class:"text-dark" %>
    </th>
    <td class="align-middle" scope="col" style="width: 34%" id="follow_<%= user.id %>">
      <%= render 'public/relationships/follow_btn', user: user %>
    </td>
  </tr>
  <% end %>
</table>