<table class="table table-sm table-borderless text-center">
  <tr>
    <th scope="col" style="width: 50%">Follow</th>
    <th scope="col" style="width: 50%">Follower</th>
  </tr>
  <tr>
    <td>例 users</td>
    <td>例 users</td>
  </tr>
</table>