<div class="col-2 p-0 text-center" style="border-left: 1px solid #a9a9a9">
  <%= link_to "Sign_up", new_user_registration_path, class: "text-light font-weight-bold" %>
</div>
<div class="col-2 p-0 text-center" style="border-left: 1px solid #a9a9a9">
  <%= link_to "Log_in", new_user_session_path, class: "text-light font-weight-bold" %>
</div>