<div class="col-1 p-0 text-center head">
  <%= link_to "Sign up", new_user_registration_path, class: "text-light font-weight-bold" %>
</div>
<div class="col-1 p-0 text-center head">
  <%= link_to "Log in", new_user_session_path, class: "text-light font-weight-bold" %>
</div>